*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* body{
    display: flex;
    align-items: center;
    justify-content: center;
} */

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: hsl(27, 66%, 92%);
    flex-direction: column;
    gap: 20px;
}

.titulo{
    background-color:  hsl(10, 79%, 65%);
    width: 350px;
    height: 80px;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 150px;
}

.balance{
    color: white;
    font-family: 'DM Sans', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.my{
    font-size: 12px;
}

.num{
    font-size: 20px;
    font-weight: 600;
}

.img{
    width: 50px;
}

.area-principal{
    width: 350px;
    height: 320px;
    background-color: white;
    border-radius: 15px ;
    
    
}

.parte-1{
    display: flex;
    justify-content: center;
    height: 200px;
    margin-right: 80px;
    margin-top: 20px;
}


.spending{
    font-size: 20px;
    font-weight: 700;
    font-family: 'DM Sans', sans-serif;
}

hr{
    width: 310px;
    display: flex;
    justify-content: center;
    margin-left: 20px;
    background-color: hsl(10, 79%, 65%);
}

.parte-2{
    display: flex;
    align-items: center;
    gap: 100px;
    margin-top: 20px;
    justify-content: center;
    
}

.v-t{
     font-size: 12px;
    font-family: 'DM Sans', sans-serif;
}

.v-v{
    font-size: 30px;
    font-weight: 700;
    font-family: 'DM Sans', sans-serif;
}

.v-n{
    display: flex;
    font-size: 12px;
    font-weight: bold;
    font-family: 'DM Sans', sans-serif;
    justify-content: flex-end;
}

.gf{
 background-color: hsl(10, 79%, 65%);
 width: 20px;
 height: 10px;
 
}







